<div fxLayout="row">
  <div fxFlex="10%" fxFlex.gt-xs="20%"></div>
  <mat-card fxFlex class="card">
      <form [formGroup]="noteForm" (ngSubmit)="onSubmit()" novalidate>
        <div fxLayout="row" fxLayout.lt-md="column">
          <mat-form-field fxFlex>
            <input matInput placeholder="title" formControlName="title" required>
          </mat-form-field>
          <mat-form-field fxFlex>
              <input matInput placeholder="date" formControlName="date" readonly>
            </mat-form-field>
          <mat-form-field fxFlex>
            <mat-select placeholder="member" formControlName="member" required>
              <mat-option *ngFor="let member of members" [value]="member">{{ member }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-form-field class="full-width">
            <textarea matInput formControlName="text" placeholder="text" required></textarea>
        </mat-form-field>
        <div fxLayout="row">
          <button fxFlex type="submit" class="full-width" mat-raised-button color="primary" [disabled]="noteForm.invalid">Save</button>
        </div>
      </form>
  </mat-card>
  <div fxFlex="10%" fxFlex.gt-xs="20%"></div>
</div>
<div fxLayout="row">
  <div fxFlex="10%" fxFlex.gt-xs="20%"></div>
  <div fxLayout="column">
  <mat-card class="card full-width" *ngFor="let note of notes">
    <mat-card-header>
      <mat-card-title>{{ note.title }}</mat-card-title>
      <mat-card-subtitle>{{ note.member }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      {{ note.text }}
    </mat-card-content>
  </mat-card></div>
  <div fxFlex="10%" fxFlex.gt-xs="20%"></div>
</div>
