<div fxLayout="row">
  <div fxFlex="10%" fxFlex.gt-xs="20%"></div>
  <div fxFlex>
    <mat-form-field id="filter" class="full-width">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2 full-width">
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let element">{{ element.date | date: 'MM/dd/yyyy' }}</td>
      </ng-container>
      <ng-container matColumnDef="photographer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Photo by</th>
        <td mat-cell *matCellDef="let element"><a href="https://instagram.com/{{element.photographer}}" target="_blank">{{ element.photographer }}</a></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div fxFlex="10%" fxFlex.gt-xs="20%"></div>
</div>
